body {
    font-family: Arial, Helvetica, sans-serif;
}


.profileContainer {
    display: flex;
    flex-wrap: wrap;
}

.profileWrapper {
    display: flex;
    flex-direction: column;
    flex:1;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}

.name {
    font-weight: bold;
    color: darkblue;
}

.forHire {
    color: red;
}

body {
    background: red;
}